* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Poppins-400";
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-500";
  src: url(../../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-600";
  src: url(../../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Poppins-700";
  src: url(../../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins-800";
  src: url(../../fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: "Manrope-400";
  src: url(../../fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: "Manrope-500";
  src: url(../../fonts/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Manrope-600";
  src: url(../../fonts/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: "Manrope-700";
  src: url(../../fonts/Manrope-Bold.ttf);
}
@font-face {
  font-family: "Manrope-800";
  src: url(../../fonts/Manrope-ExtraBold.ttf);
}
.wrapper .plan .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}
.wrapper .plan .container .plan__title {
  color: #282938;
  font-family: "Poppins-600";
  font-size: 48px;
  font-style: normal;
  line-height: 64px;
  margin-bottom: 16px;
}
.wrapper .plan .container .plan__subtitle {
  max-width: 562px;
  color: #282938;
  font-family: "Poppins-500";
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}
.wrapper .plan .container .prices {
  display: flex;
  gap: 32px;
}
.wrapper .plan .container .prices .item {
  position: relative;
  width: 406px;
  min-height: 745px;
  padding: 64px 78px 62px 48px;
  border-radius: 12px;
  background: #f4f6fc;
  transition: 0.3s;
  margin-top: 64px;
}
.wrapper .plan .container .prices .item:hover {
  background: #1c1e53;
}
.wrapper .plan .container .prices .item:hover .price__heading {
  color: white;
}
.wrapper .plan .container .prices .item .item__header {
  color: #282938;
  font-family: "Poppins-500";
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 8px;
}
.wrapper .plan .container .prices .item .item__pharagraph {
  max-width: 281px;
  color: #282938;
  font-family: "Poppins-500";
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  margin-bottom: 78px;
}
.wrapper .plan .container .prices .item .item__price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.wrapper .plan .container .prices .item .item__price .price__heading {
  color: #282938;
  font-family: "Poppins-600";
  font-size: 38px;
  font-style: normal;
  line-height: 56px;
}
.wrapper .plan .container .prices .item .item__price .price__design {
  color: #2405f2;
  font-family: "Poppins-400";
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}
.wrapper .plan .container .prices .item .price__list {
  position: absolute;
  bottom: 62px;
}
.wrapper .plan .container .prices .item .price__list ul .list__item {
  display: flex;
  gap: 12px;
  color: #282938;
  font-family: "Poppins-400";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}
.wrapper .plan .container .prices .item .price__list ul .list__item.disable {
  color: #a8aab0;
}
.wrapper .plan .container .prices .item .price__list .price__btn {
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  border: none;
  background: #282938;
  margin-top: 79px;
  color: #f4f6fc;
  font-family: "Manrope-600";
  font-size: 18px;
  font-style: normal;
  line-height: 32px;
}